.base{
    width: 100vw;
    height:100vh ;
    background-color: white;
    color: #ff3f6c;
    margin-top: 2%;
    padding: 2% 0;
  }
  .tasks{
    align-self: center;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-evenly;
    margin:4% 0;
  }